I сем/КЯР/Лб 12/3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="information" type="InformationType"/>

  <xs:complexType name="InformationType">
    <xs:sequence>
      <xs:element name="topic" type="TopicType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TopicType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="content" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
